%ul#reviews
  - @reviews.each do |review|
    %li.review
      .reviewer= link_to review.reviewer.name, reviewer_path(review.reviewer)
      .published= review.published_at.to_date
      .title= link_to review.title, review.url
      - next if review.apps.blank?
      %ul.apps
        = t('reviews.apps')
        - app = review.apps[0]
        %li.app
          .artwork= image_tag app.artwork60_url, alt: "#{app.name}"
          .name= link_to app.name, app.url
          .rating
            - app.rating.to_i.times do
              %span.rating-star
            - if (app.rating * 10).to_i % 10 > 0
              %span.rating-star.half
          .price= app.formatted_price
          .category= app.primary_category.name
        - if review.apps[1].present?
          .see_all= t('reviews.see_all')

= link_to_previous_page @reviews, t('prev_page')
= link_to_next_page @reviews, t('next_page')
