%ul#reviews
  - @reviews.each do |review|
    %li.review
      %span.reviewer= link_to review.reviewer.name, reviewer_path(review.reviewer)
      %span.published= review.published_at.to_date
      .title= link_to review.title, review.url
      - next if review.apps.blank?
      %ul.apps
        - review.apps.each do |app|
          %hr
          %li.app
            .artwork= image_tag app.artwork100_url, alt: "#{app.name}"
            .name= link_to app.name, app.url
            .app-store
              = link_to "App Store", app.url
            .price= app.formatted_price
            .category= app.primary_category.name
            .rating
              - app.rating.to_i.times do
                %span.rating-star
              - if (app.rating * 10).to_i % 10 > 0
                %span.rating-star.half

= link_to_previous_page @reviews, t('prev_page')
= link_to_next_page @reviews, t('next_page')
